profiles {
  standard {
    docker {
      enabled = true
      fixOwnership = true
      runOptions = "-u \$(id -u):\$(id -g)"
    }
    process {
      executor = 'slurm'
      cpus = 1

      $msgfPlus {
        cpus = 4
      }
      $percolator {
        cpus = 4
      }
    }
  }
  testing {
    docker {
      enabled = true
      fixOwnership = true
      runOptions = "-u \$(id -u):\$(id -g)"
    }
    executor {
      cpus = 20
    }
    process {
      cpus = 1

      $msgfPlus {
        cpus = 4
      }
      $percolator {
        cpus = 4
      }
    }
  }
}
