params {
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h

  // both refine and qc:
  db = false
  instrument = false
  outdir = 'results'

  // QC
  raw = false
  mzml = false
  mods = "${baseDir}/data/labelfreemods.txt"
  noquant = false
  //prectol = '10.0ppm' // MSGF
  prectol = '10' // SAGE
  overbook_cpus_factor = 1
  filters = ''
  options = ''
  psmconf = 0.01
  pepconf = 0.01

  // refine:
  isobaric = 'lf'
  
}


nextflow.enable.configProcessNamesValidation = false
includeConfig 'configuration/base.config'

external_config_version = 'main'


profiles {

  qc {
    process.clusterOptions = '--qos=qc'
    params.threadspercore = 2
    includeConfig "https://raw.githubusercontent.com/lehtiolab/static-resources/${external_config_version}/nf-configs/qc.config"
  }

  docker {
    docker {
      enabled = true
      fixOwnership = true
    }
  }

  test {
    includeConfig 'configuration/test.config'
    docker {
      enabled = true
      fixOwnership = true
    }
  }

  lehtio { 
    includeConfig "https://raw.githubusercontent.com/lehtiolab/static-resources/${external_config_version}/nf-configs/lehtio.config"
    trace {
      file = './trace.txt'
      overwrite = true
    }
    params {
      db = "${data_file_path}/ENS111_Homo_sapiens.fa"
    }
  }
}


def check_max(obj, type) {
    if (type == 'memory') {
        test = obj as nextflow.util.MemoryUnit
        try {
            if (test.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        test = obj as nextflow.util.Duration
        try {
            if (test.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
