params {
  // both refine and qc:
  db = false
  instrument = false
  outdir = 'output'

  // QC
  raw = false
  mzml = false
  mods = "${baseDir}/data/labelfreemods.txt"
  filters = false
  options = false
  psmconf = 0.01
  pepconf = 0.01

  prectol = false
  fragtol = false

  trackedpeptides = false

  // refine:
  isobaric = 'lf'
}


nextflow.enable.configProcessNamesValidation = false
includeConfig 'configuration/base.config'

external_config_version = 'main'


profiles {

  docker {
    docker {
      enabled = true
      fixOwnership = true
    }
  }
  test {
    // For small tests on e.g. github actions
    docker {
      enabled = true
      fixOwnership = true
    }
    process {
      memory = 15.GB
    }
  }
  bigtest {
    // For local tests on raw files
    docker {
      enabled = true
      fixOwnership = true
    }
    process {
      memory = 30.GB
    }
  }
}


process {
  withName: sage {
    cpus = 4
  }

  withName: dinosaur {
    cpus = 2
  }

  withName: sagePrepare {
    cpus = 1
  }

  withName: msconvert {
    containerOptions = '--rm'
    container = 'proteowizard/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.24172-63d00b1'
    time: 8.h
  }

  withName: mzRefine {
    containerOptions = '--rm'
    container = 'proteowizard/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.24172-63d00b1'
  }
  
  withName: extractThermoScans {
    errorStrategy = { task.exitStatus == 5 ? 'retry': 'finish' }
    maxRetries = 10
  }
}

manifest {
  name = 'lehtiolab/nf-mslab'
  author = 'Jorrit Boekel'
  homePage = 'https://github.com/lehtiolab/nf-mslab'
  description = 'HeLa QC and refine precursor in mzML pipelines'
  nextflowVersion = '==24.04.1'
  version = '3.2-diann.2.3.1'
}
