process {
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 16.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [140,137] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  withName: msgfPlus {
    cpus = 4
  }
  withName: dinosaur {
    cpus = 4
  }
  withName: msconvert {
    containerOptions = '--rm'
    container = 'chambm/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.20066-729ef9c41'
  }
  withName: mzRefine {
    containerOptions = '--rm'
    container = 'chambm/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.20066-729ef9c41'
  }
}
