params {
  mods = "${baseDir}/data/labelfreemods.txt"
}

process {
  cpus = 1
  // Docker options only, withName doesnt work on docker scope and we need different options
  // for the msconvert process, so set it through process scope instead of docker.runOptions
  // Not sure how this would affect singularity containers
  containerOptions = '-u $(id -u):$(id -g)'
  withName: msgfPlus {
    cpus = 4
  }
  withName: dinosaur {
    cpus = 4
  }
  withName: msconvert {
    containerOptions = '--rm'
    container = 'chambm/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.20066-729ef9c41'
  }
  withName: mzRefine {
    containerOptions = '--rm'
    container = 'chambm/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.20066-729ef9c41'
  }
}
