name: release-container
run-name: Release pushed, build container
on:
  release:
    types: [published]
  workflow_dispatch:


jobs:
  build-container:
    runs-on: ubuntu-latest
    steps:
      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Setup nextflow
        uses: nf-core/setup-nextflow@v1

      - name: Get version from NF config file
        id: get-version
        run: echo "wf_version=$(nextflow config -value manifest.version)" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/lehtiolab/nfhelaqc:${{ steps.get-version.outputs.wf_version }}
